// general
body
	position: relative
	font-family: 'Montserrat-Regular'
	font-size: 14px
	color: $color-gray
	@include media_min($above_mobile)
		font-size: 16px
	&.menu-opened
		overflow: hidden
// container
.container
	max-width: 1170px
	margin-left: auto
	margin-right: auto
	padding: 0 1em
	@include media_min($above_laptop_sm)
		padding: 0
// admin bar push
.admin-bar
	padding-top: 46px
	@include media_min($above_mobile)
		padding-top: 0
	.main-header__nav
		@include media_min($above_mobile)
			top: 32px
	.sticky-header
		@include media_min($above_mobile)
			top: 32px !important
// typography
h1, h2, h3, h4, h5, h6
	font-family: 'Montserrat-SemiBold'
	margin: 0
	letter-spacing: 0.04em
h1
	font-size: 2.5em
	line-height: 1.6
	@include media_min($above_mobile)
		font-size: 4em
h2
	font-size: 1.5em
	line-height: 1.6
	@include media_min($above_mobile_sm)
		font-size: 1.8em
	@include media_min($above_mobile)
		font-size: 2em
	@include media_min($above_tablet)
		font-size: 3.125em
h3
	font-size: 1.2em
	line-height: 1.6
	@include media_min($above_mobile_sm)
		font-size: 1.5em
	@include media_min($above_mobile)
		font-size: 1.8em
	@include media_min($above_tablet)
		font-size: 2.5em
p
	margin: 0
	font-size: 1em
	line-height: 2em
img
	max-width: 100%
	height: auto
select
	appearance: none
// placeholder
::-webkit-input-placeholder
	color: $color-gray

::-moz-placeholder
	color: $color-gray

::-ms-input-placeholder
	color: $color-gray
.contact-form-container
	@include media_min($above_laptop_sm)
		::-webkit-input-placeholder
			color: $color-white

		::-moz-placeholder
			color: $color-white

		::-ms-input-placeholder
			color: $color-white
// slider global
.swiper-container-horizontal
	> .swiper-pagination-bullets
		.swiper-pagination-bullet
			margin: 0 5px
			@include media_min($above_mobile)
				margin: 0 7px
.swiper-pagination-bullets
	margin-top: 2em
	margin-bottom: 1em
	@include media_min($above_laptop_sm)
		margin-top: 0.8em
		margin-bottom: 2.5em
	&.swiper-pagination-bullets--nobg
		.swiper-pagination-bullet
			background: transparent
			border: 1px solid $color-gray
			@include media_min($above_mobile)
				border-color: $color-white
.swiper-pagination-bullet
	width: 10px
	height: 10px
	border-radius: 0
	transform: rotate(45deg)
	transition: all 0.3s ease-in-out
	background: $color-green
	opacity: 0.5
	@include media_min($above_mobile)
		width: 12px
		height: 12px
	&.swiper-pagination-bullet-active
		opacity: 1
// button
.button
	display: inline-flex
	align-items: center
	justify-content: center
	min-width: 190px
	width: 100%
	height: 55px
	padding: 0 1em
	font-family: 'Montserrat-Light'
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2)
	font-size: 1em
	line-height: 1.4
	background-color: $color-green
	letter-spacing: 0.04em
	color: $color-white
	border-radius: 5px
	text-decoration: none
	transition: all 0.3s ease-in-out
	@include media_min($above_mobile)
		width: auto
	@include media_min($above_tablet)
		font-size: 1.25em
		width: auto
	&:hover
		box-shadow: 0 12px 10px 0 rgba(0, 0, 0, 0.28)
	&.button--whitebg-green
		color: $color-green
		background-color: $color-white
// colors
.color-fb
	color: $color-fb
.color-rss
	color: $color-rss
.color-tw
	color: $color-tw
.color-pi
	color: $color-pi
.color-dr
	color: $color-dr
.color-vi
	color: $color-vi