.main-header
	position: absolute
	top: 0
	width: 100%
	padding: 70px 0
	background-color: orange
.main-header__inner
	display: flex
	justify-content: space-between
	nav
		display: flex
		a
			line-height: 0.85em
			color: $color-white
			text-decoration: none
			text-transform: uppercase
			letter-spacing: 0.04em
	li
		list-style-type: none
		&:not(:last-of-type)
			margin-right: 1em
.logo
	display: flex
	flex-wrap: wrap
	align-content: center
	width: 60px
	height: 60px
	color: $color-white
	border: 2px solid $color-white
	border-radius: 3px
	text-decoration: none
	span
		width: 100%
		text-align: center
		font-size: 1.25em
		line-height: 1
		text-transform: uppercase