.hero
	position: relative
	.hero_slider__slider
	.swiper-slide
	.swiper-slide__img
		position: relative
		height: 160px
		@include media_min($above_mobile_sm)
			height: 260px
		@include media_min($above_mobile)
			height: 320px
		@include media_min($above_tablet)
			height: 95vh
		&:after
			content: ''
			background-color: $color-black
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			margin: auto
			opacity: 0.1
		img
			position: absolute
			width: 100%
			height: 100%
			object-fit: cover
			@include media_min($above_tablet)	
	.swiper-slide__content
		text-align: center
		padding: 1em
		@include media_min($above_mobile)
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			color: $color-white
			width: 90%
		@include media_min($above_laptop_sm)
			width: auto
			max-width: 700px
			margin: auto
		h2
			text-transform: uppercase
			font-size: 2em
			font-family: 'Montserrat-Medium'
			font-weight: 500
			@include media_min($above_laptop_sm)
				font-size: 3.15em
				line-height: 1.4em
			+ p
				margin-top: 1em
				font-size: 1.15em
				line-height: 1.4
				@include media_min($above_laptop_sm)
					margin-top: 2em
	.swiper-pagination
		position: static
		@include media_min($above_mobile)
			position: absolute
	.swiper-pagination-bullets
		@include media_min($above_laptop_sm)
			margin-bottom: 4em